<!DOCTYPE html>

<head>

</head>


<body>

    <p> Hello {{ user_name }}, <br> Someone wants to borrow your book {{ title }} by {{ author }}.</p>
    <p> Here is the email: {{ email }}.</p>
    <br>
    <p> Message:  {{ mess }} </p><br>

    <p> After giving the book to the next owner, don't forget to transfer it from your account. </p>
    <p id="trans"> To do this, click <a href='http://bookchain.eu-gb.cf.appdomain.cloud/transfer?id_book={{id_b}}&current={{current}}&future={{future}}'>here.</a></p>

</body>
